<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>categoria</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="div-mae">
    <div class="div-lado">
<H3>Menu</H3>
    </div>
    <div style=" width: 70px;"></div>
    <div class="cabecalho-categoria">
<h1>Categorias</h1>
       <div class="adicionar">
        <button>Adicionar Categoria</button>
    </div>
<div style="height: 30px;"></div>
<div class="div-tabela">
    <table border="1">
        <tr>
            <td>Nome</td>
            <td>Idade</td>
        </tr>
        <tr>
            <td>açucar</td>
            <td>editar</td>
        </tr>
     
    </table>
</div>


</div>

 
</div>
</body>
</html>