


<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <title>Tela de Login</title>
    <style>
        body {
            background-color: #ebebeb;
            
        }
        .login-container {
            max-width: 400px;
            margin: auto;
            padding: 30px;
            background-color: #c0c0c0b1;
            border-radius: 8px;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        }
        .verde {
            color: #000000;
        }

        .bg-verde {
            background-color: #10b12b;
        }
    </style>
</head>
<body style="background-image: url(https://blog.humberseguros.com.br/wp-content/uploads/2020/01/seguro-de-vida-do-produtor-rural.jpg);">
    <div class="login-container mt-5">
        <h1 class="text-center"> <span class="verde"> Login </span> </h1>
        <form action="/auth/login" method="POST">
            <div class="mb-3">
                <label for="usuario" class="form-label">Usuário</label>
                <input 
                type="text"
                class="form-control mb-2"
                id="username"
                name="usuario"
                placeholder="Digite seu usuário"
                required
              
              />
            </div>
            <div class="mb-3">
                <label for="senha" class="form-label">Senha</label>
                <input
                type="password"
                class="form-control"
                id="password"
                name="senha"
                placeholder="Digite sua senha"
                required
              />
            </div>
            <button type="submit" class="btn  w-100 bg-verde" style="background-color: #10b12b;">Entrar</button>
            <a href="/" class="btn  w-100 bg-verde mt-3 " style="background-color: rgb(244, 27, 27);">cancelar</a>
        </form>
        <div class="text-center mt-3">  
            <% if (typeof mensagem !='undefined' ) { %>
                <p class="erro"> <%= mensagem %> </p>
            <% } %>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
    