body {
    font-family: Arial, sans-serif;
    
    
    background-color: rgb(225, 223, 223);
  }
  
  header {
    background-color: green;
    color: white;
    padding: 15px;
    text-align: center;
  }
  
  nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
    margin-bottom: 70px;
    min-height: 65vh;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    
  }
  
  h2 {
    text-align: center;
  }
  
  .dados-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
  }
  
  .dados-table thead {
    background-color: green;
    color: white;
  }
  
  .dados-table th,
  .dados-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .dados-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .dados-table td a,
  .dados-table td form {
    display: inline-block;
  }
  
  /* Estilo dos botões */
  .btn {
    padding: 8px 12px;
    margin-right: 5px;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: green;
    color: white;
  }
  
  .btn-edit {
    background-color: #10b12b;
    color: white;
  }
  
  .btn-delete {
    background-color: #dc3545;
    color: white;
    border: none;
  }
  
  .btn:hover {
    opacity: 0.8;
  }
  
  .form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form-group input:focus {
    border-color: rgb(0, 0, 0);
  }
  
  .btn-secondary {
    background-color: #e11515;
    color: white;
    margin-left: 10px;
  }

  .form-consulta{
    display: flex;
    gap: 1rem;
  }

  .form-consulta input, .form-consulta select {
    flex: 1;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 16px;
  }

  /* estilos da paginação */
  .pagination {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .card-dec{
    border-left: 5px solid rgb(51, 103, 8);
    
  }


  
  .icone-maior {
    font-size: 50px; /* Tamanho do ícone */
  }

  .imagem {
    width: 90px;
    right: 5px;
    margin-left: 20px;
    

  }
 
  .tirarconfigs {
    text-decoration: none;

  }

  .tirarconfigs:hover {

    color: white;
    text-decoration: none;
  
    
  }

  .btn-buscar {
    background-color: green;
    color: white;
  }

  .btn-buscar:hover {
    background-color: #0a8c0a;
    color: white;
  }
  
  .grafico{
    width: 370px;
  }
