<%-include('../includes/header.ejs', {titulo:'Cadastro Produto'})%>
<main>
    <h2>Adicionar Novo produto</h2>

    <form action="/produto/novo" method="POST" class="form" enctype="multipart/form-data">
        <div class="form-group">
            <label for="nome_produto"> Nome do Produto</label>
      <input type="text" id="nome_produto" name="nome_produto" required />


        </div>
        <div class="form-group">
            <label for="estoque"> Estoque</label>
            <input type="number" id="estoque" name="estoque" required />


        </div>
        <div class="form-group">
            <label for="estoque_minimo">Estoque Minimo </label>
            <input type="number" id="estoque_minimo" name="estoque_minimo" required />


        </div>

        <div class="form-group">
            <label for="valor"> Valor</label>
      <input type="number" id="valor" name="valor" required />


        </div>

        <div class="form-group">
            <label for="imagem">Imagem </label>
      <input type="file" id="file" name="file" required />


        </div>


        <div class="form-group">
            <label for="id_categoria"> Categoria</label>
            <select name="id_categoria" id="id_categoria">
              <% for (let categoria of resultados) {%>
              <option value="<%= categoria.id_categoria%>">
                <%= categoria.nome%>
              </option>
              <% } %>
            </select>
          </div>
        <button type="submit" class="btn" style="background-color: green;color: white;">Adicionar</button>
        <a href="/produto" class="btn btn-secondary"> Voltar</a>
    </form>
</main>
<%- include('../includes/footer.ejs')%>